<div class="auth-container" *ngIf="!requestedPasswordReset">
  <div class="back-button-container">
    <a (click)="location.back()" class="back-button"
      ><i class="fas fa-circle-arrow-left me-2"></i>
    </a>
  </div>

  <h1>Forgot your Password?</h1>

  <div class="illustration">
    <img
      src="../../../assets/images/forgot-password.png"
      alt="SocialApp Illustration"
    />
  </div>

  <form class="auth-form">
    <label for="email"><p>Email:</p></label>
    <input
      class="form-control auth-input user-identifier"
      type="text"
      id="email"
      name="email"
      placeholder="Email"
      [(ngModel)]="email"
      required
    />

    <button
      class="primary-button"
      [disabled]="!email || !isValidEmail()"
      [ngClass]="{
        'disabled-button': !email || !isValidEmail()
      }"
      (click)="requestPasswordReset()"
    >
      Request Password Reset
    </button>
  </form>
</div>

<div>
  <div class="auth-container" *ngIf="requestedPasswordReset">
    <h1>Password Reset Requested</h1>

    <div class="illustration">
      <img
        src="../../../assets/images/mail-sent.png"
        alt="SocialApp Illustration"
      />
    </div>

    <div class="form-text text-center mb-3 text-dark">
      <p>
        A password reset link has been sent to your email. Please check your
        email and follow the instructions to reset your password.
      </p>
    </div>
  </div>
</div>
