<div class="container">
  <div class="illustration d-flex justify-content-center">
    <img
      src="../../../assets/images/post-submit-1.png"
      alt="SocialApp Illustration"
    />
  </div>

  <div class="post-submit-box">
    <app-post-submit></app-post-submit>
  </div>

  <hr />

  <div *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
  </div>

  <div *ngIf="!noMorePosts && posts.length > 0" class="text-center mt-3 mb-3">
    <button
      (click)="loadMorePosts()"
      class="btn btn-primary btn-dark resized-rounded-button"
    >
      Load more
    </button>
  </div>

  <div *ngIf="noMorePosts && posts.length > 0" class="text-center mt-3 mb-3">
    <h4>No more posts</h4>
  </div>

  <div *ngIf="posts.length === 0" class="mt-5 mb-5">
    <div class="illustration d-flex justify-content-center">
      <img
        src="../../../assets/images/empty-feed.png"
        alt="SocialApp Illustration"
      />
    </div>
    <h3 class="text-center mt-5 mb-5">No posts found</h3>
  </div>
</div>
