<div class="auth-container">
  <div class="illustration">
    <img
      src="../../../assets/images/landing-page.png"
      alt="SocialApp Illustration"
    />
  </div>

  <div class="content">
    <h1>Welcome to SocialApp</h1>
    <p>Connect with friends and stay updated!</p>

    <div class="buttons">
      <button class="primary-button" (click)="navigateToLogin()">Login</button>
      <button class="secondary-button" (click)="navigateToSignup()">
        Signup
      </button>
    </div>
  </div>
</div>
