<div class="profile-container">
  <div class="profile-header d-flex">
    <div class="profile-avatar">
      <img [src]="getAvatar(user.avatar)" alt="Avatar" #avatar />
    </div>
    <div class="profile-info">
      <div class="d-flex mb-3">
        <h1 class="profile-username">{{ user.username }}</h1>
        <button
          *ngIf="user.id !== loggedInUser.id"
          [class]="
            (this.loggedInUser.followings.includes(user.id)
              ? 'danger-button'
              : 'primary-button') + ' btn resized-rounded-button'
          "
          (click)="
            this.loggedInUser.followings.includes(user.id)
              ? unfollowUser()
              : followUser()
          "
          #followingButton
        >
          {{
            this.loggedInUser.followings.includes(user.id)
              ? "Unfollow"
              : "Follow"
          }}
        </button>
        <div>
          <i
            *ngIf="loggedInUser.id === user.id"
            class="fas fa-pen profile-action me-2"
            (click)="editProfile()"
          ></i>
          <i
            *ngIf="loggedInUser.id === user.id"
            class="fas fa-cog profile-action"
            (click)="openAccountSettings()"
          ></i>
        </div>
      </div>
      <div class="profile-stats mb-3">
        <div class="profile-stat">
          <span class="stat-number">{{ user.posts.length }}</span>
          <span class="stat-label">Posts</span>
        </div>
        <div class="profile-stat">
          <span class="stat-number">{{ user.followers.length }}</span>
          <span
            class="stat-label"
            style="cursor: pointer"
            (click)="seeFollowers()"
            >Followers</span
          >
        </div>
        <div class="profile-stat">
          <span class="stat-number">{{ user.followings.length }}</span>
          <span
            class="stat-label"
            style="cursor: pointer"
            (click)="seeFollowings()"
            >Followings</span
          >
        </div>
      </div>
      <h2 class="profile-fullname mb-3">
        {{ user.firstName + " " + user.lastName }}
      </h2>
      <p class="profile-bio">{{ user.bio }}</p>
    </div>
  </div>
</div>

<hr />

<div
  *ngIf="loggedInUser.id === user.id"
  class="d-flex flex-column flex-lg-row justify-content-center align-items-center"
>
  <div class="illustration">
    <img
      src="../../../assets/images/post-submit.png"
      alt="SocialApp Illustration"
    />
  </div>

  <app-post-submit
    class="mb-3"
    (postSubmitted)="addPost($event)"
  ></app-post-submit>
</div>

<hr *ngIf="loggedInUser.id === user.id" />

<div *ngFor="let post of posts">
  <app-post
    [post]="post"
    [user]="user"
    viewSource="elsewhere"
    (postDeleted)="removePost($event)"
  ></app-post>
</div>

<div *ngIf="!noMorePosts && posts.length > 0" class="text-center mt-3 mb-3">
  <button
    (click)="loadMorePosts()"
    class="btn btn-primary btn-dark resized-rounded-button"
  >
    Load more
  </button>
</div>

<div *ngIf="noMorePosts && posts.length > 0" class="text-center mt-3 mb-3">
  <h4>No more posts</h4>
</div>

<div *ngIf="posts.length === 0" class="mt-5 mb-5">
  <div class="illustration d-flex justify-content-center">
    <img
      src="../../../assets/images/empty-feed.png"
      alt="SocialApp Illustration"
    />
  </div>
  <h3 class="text-center mt-5 mb-5">No posts found</h3>
</div>
