<div class="post-wrap">
  <div class="post-header">
    <img
      [src]="getAvatar(post.user.avatar)"
      [routerLink]="'/profile/' + post.user.username"
      alt=""
      class="avatar rounded-circle"
    />

    <div class="post-header-info">
      <a [routerLink]="'/profile/' + post.user.username">
        {{ post.user.firstName + " " + post.user.lastName }}
      </a>

      <span [routerLink]="'/profile/' + post.user.username">
        {{ post.user.username }}</span
      >

      <span
        [routerLink]="viewSource === 'post' ? null : '/post/' + post.id"
        [queryParams]="viewSource === 'post' ? { action: 'view' } : null"
        [style]="viewSource === 'post' ? 'cursor: auto' : 'cursor:pointer'"
      >
        . {{ post.createdAt | date : "short" }}
      </span>

      <i
        class="fas fa-pen ms-3"
        *ngIf="isPostOwner()"
        (mouseover)="canUpdate()"
        (click)="attemptUpdate()"
        #updateButton
      ></i>
      <i class="fas fa-trash ms-3" *ngIf="isPostOwner()" (click)="delete()"></i>

      <p
        *ngIf="!updating"
        [routerLink]="viewSource === 'post' ? null : '/post/' + post.id"
        [queryParams]="viewSource === 'post' ? { action: 'view' } : null"
        [style]="viewSource === 'post' ? 'cursor: auto' : 'cursor:pointer'"
        [innerHTML]="
          viewSource === 'post'
            ? post.content
            : (post.content
              | truncate : 100 : 'fas fa-up-right-and-down-left-from-center')
        "
      ></p>

      <form *ngIf="updating" [formGroup]="updateForm" class="update-form">
        <div class="form-group">
          <textarea
            class="form-control"
            id="update"
            rows="3"
            name="update"
            formControlName="content"
          ></textarea>
          <div class="update-form-footer">
            <div
              class="char-counter"
              [style.color]="
                (updateForm.controls.content.value ?? '').length < 6
                  ? 'red'
                  : 'black'
              "
            >
              {{ (updateForm.controls.content.value ?? "").length }} / 1000
            </div>

            <button
              type="submit"
              class="btn primary-button submission-button"
              (click)="update()"
              [disabled]="!updateForm.valid"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="post-img-wrap" *ngIf="post.image">
    <img [src]="getImage(post.image)" alt="" class="post-img" />
  </div>

  <div class="post-info-counts">
    <div class="comments">
      <i
        [routerLink]="viewSource === 'post' ? null : '/post/' + post.id"
        [queryParams]="viewSource === 'post' ? null : { action: 'comment' }"
        [style]="viewSource === 'post' ? 'cursor: auto' : 'cursor:pointer'"
        class="far fa-comment"
      ></i>
      <div class="comment-count">
        {{ post.comments.length }}
      </div>
    </div>

    <div class="likes">
      <i
        [class]="isLiked ? 'fas fa-heart me-2' : 'far fa-heart me-2'"
        (click)="isLiked ? unlike(post.id) : like(post.id)"
      ></i>
      <div class="likes-count">{{ post.likes.length }}</div>
    </div>
  </div>
</div>
