<div class="auth-container">
  <div class="back-button-container" *ngIf="!isAuthenticatedUser()">
    <a (click)="location.back()" class="back-button"
      ><i class="fas fa-circle-arrow-left me-2"></i>
    </a>
  </div>

  <h1>Reset Password</h1>

  <div class="illustration">
    <img
      src="../../../assets/images/reset-password.png"
      alt="SocialApp Illustration"
    />
  </div>

  <form class="auth-form">
    <label for="password"><p>New Password:</p></label>
    <input
      class="form-control auth-input"
      [type]="showPassword ? 'text' : 'password'"
      id="password"
      name="password"
      [(ngModel)]="newPassword"
      required
    />

    <label for="confirmPassword"><p>Confirm New Password:</p></label>
    <input
      class="form-control auth-input"
      [type]="showPassword ? 'text' : 'password'"
      id="passwordConfirm"
      name="passwordConfirm"
      [(ngModel)]="passwordConfirm"
      required
    />

    <input
      type="checkbox"
      class="form-check-input"
      name="showPassword"
      [(ngModel)]="showPassword"
      (click)="showPassword = !showPassword"
    />
    <p>Show password</p>

    <button
      class="primary-button"
      [ngClass]="{
        disabled: !newPassword || !passwordConfirm
      }"
      [disabled]="!newPassword || !passwordConfirm"
      (click)="resetPassword()"
    >
      Reset Password
    </button>
  </form>
</div>
